<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all bookmark spots
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new bookmark spot
    </h2>

    <form action="/insert_bookmark_spot" method="post">
      <div class="form-group">
        <label for="favorite_location_id_box">
          Favorite location
        </label>

        <input type="text" id="favorite_location_id_box" name="favorite_location_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create bookmark spot
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Favorite location
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @bookmark_spots.each do |bookmark_spot| %>
      <tr>
        <td>
          <%= bookmark_spot.id %>
        </td>

        <td>
          <%= bookmark_spot.favorite_location_id %>
        </td>

        <td>
          <%= bookmark_spot.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(bookmark_spot.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(bookmark_spot.updated_at) %> ago
        </td>

        <td>
          <a href="/bookmark_spots/<%= bookmark_spot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
